<div id="datasourceDialog">
	<div class="hd">Please enter DataSource information</div>
	<div class="bd">
		
	<form action="addDataSourceDialog.action" method="post">	 
  
	<table class="dialog"> 	
		<tr >
			<td class="boldText" width="20%">Use JNDI</td>
			<td>
				<img  id="jndi" src="images/help.gif" title="#parse("tooltips/datasource-jndi.html")">				        
			</td>
			<td><input type="checkbox" name="jndi" value="true" #if ($jndi == true) CHECKED #end></td>
		</tr>  
		<tr id="dsName">
			<td class="boldText" width="20%">Name</td>
			<td>&nbsp;</td>
			<td><input type="text" size="60" name="name"></td>
		</tr>         
		<tr id="dsUrl">
			<td  class="boldText" width="20%">URL</td>
			<td>
				<img  id="url" src="images/help.gif" title="#parse("tooltips/datasource-url.html")">                      
			</td>
			<td><input type="text" size="60" name="url" value="$!url"></td>
		</tr>	
		<tr id="dsDriver">
			<td class="boldText" width="20%">Driver</td>
			<td>
				<img  id="driver" src="images/help.gif" title="#parse("tooltips/datasource-driver.html")">				        
			</td>
			<td><input id="testD" type="text" size="60" name="driver" value="$!driver"></td>
		</tr>
		<tr id="dsUser">
			<td class="boldText" width="20%">User Name</td>
			<td>&nbsp;</td>
			<td><input type="text" size="60" name="userName" value="$!userName"></td>
		</tr>
		<tr id="dsPassword">
			<td class="boldText" width="20%">Password</td>
			<td>&nbsp;</td>
			<td><input type="password" size="60" name="password" value="$!password"></td>
		</tr>
		<tr id="dsMI">
			<td class="boldText" width="20%">Max Idle</td>
			<td>
				<img id="maxidle" src="images/help.gif" title="#parse("tooltips/datasource-maxidle.html")">				        
			</td>
			<td><input type="text" size="60" name="maxIdle" value="$!maxIdle"></td>
		</tr>
		<tr id="dsMA">
			<td  class="boldText" width="20%">Max Active</td>
			<td>
				<img id="maxactive" src="images/help.gif" title="#parse("tooltips/datasource-maxactive.html")">				        
			</td>
			<td><input type="text" size="60" name="maxActive" value="$!maxActive"></td>     	
		</tr>
		<tr id="dsMW">
			<td class="boldText" width="20%">Max Wait</td>
			<td>
				<img id="maxwait" src="images/help.gif" title="#parse("tooltips/datasource-maxwait.html")">				        
			</td>
			<td><input type="text" size="60" name="maxWait" value="$!maxWait"></td>     	
		</tr>
		<tr id="dsQuery">
			<td class="boldText" width="20%">Validation Query</td>
			<td>
				<img id="query" src="images/help.gif" title="#parse("tooltips/datasource-query.html")">				        
			</td>
			<td><input type="text" size="60" name="validationQuery" value="$!validationQuery"></td>     	
		</tr>   
    </table>    
	
   <input type="hidden" name="id" value="0">
   <input type="hidden" name="command" value="add">  
   <input type="hidden" name="submitType" value="Ok">   
     
   </form> 

</div>
</div>		