<div id="reportFileDialog">

  <div class="hd">Upload Report File</div>
  <div class="bd">  
  
    <form id="reportUploadForm" action="addReportFileDialog.action" method="POST" enctype="multipart/form-data" >
  
      <table class="dialog">
        <tr colspan="2">      
          <td>
            <input type="file" name="file" value="Browse..." size="50"/>&nbsp;            
          </td>
        </tr>   
      </table> 
  
      <input type="hidden" name="command" value="upload">
      <input type="hidden" name="name" value="$name">
  
    </form>  
  
  </div>

</div>




