#parse("Banner.vm") 

<a class="back-link img-report-small" href="listReports.action">Back to Reports </a>
 
<br/><br/>

<div align="center">

	<div class="warning" id="important" >
		This will remove the report from all groups
            and delete all entries for the report in the logs.
    </div>  	

  <br>
  
  <div class="important img-delete" id="instructions" style="width: 70%;">Delete Report Confirmation</div>
      
  <form action="deleteReport.action" style="width: 75%;" >
  
  <table class="dialog" >   
    <tr class="a">
      <td class="boldText" width="20%">Name</td>
      <td>$!name</td>
    </tr>
    <tr class="b">
      <td class="boldText">Description</td>
      <td>$!description</td>
    </tr>   
   </table>
  
   <br>
    
   <div class="button-bar" id="buttons">
        <input class="standardButton" type="submit" name="submitDelete" value="Delete">
        <input class="standardButton" type="submit" name="submitCancel" value="Cancel">
         <input type="hidden" name="id" value="$!id"> 
   </div>
        
  </form>  
      
  <br> 
  
  #parse("Errors.vm")
  
</div>

#parse("Footer.vm") 

