#parse("Banner.vm") 

#parse("Errors.vm")

<br/><br/>

<div align="center">

  <div class="img-delete important" id="instructions" style="width: 70%;">Delete Scheduled Report Confirmation</div>  

  <form action="$request.requestURI" style="width: 75%;">  
  
  <br>
  
  <table class="dialog">
    <tr class="a">
      <td class="boldText" width="20%">Name</td>
      <td>$!name</td>      
    </tr>   
    <tr >
      <td class="boldText" width="20%">Description</td>
      <td>$!description</td>      
    </tr>   
    <tr class="b">
      <td class="boldText" width="20%">Start Date</td>
      <td>$!startDate</>
    </tr>
    <tr class="a">
      <td class="boldText" width="20%">Schedule Type</td>
      <td>$!scheduleTypeName</>
    </tr>
  </table>
  
  <br>  
  
      	<div class="button-bar" id="buttons" >
        <input class="standardButton" type="submit" name="submitDelete" value="Delete">
        <input class="standardButton" type="submit" name="submitCancel" value="Cancel">
        </div>
   
    <input type="hidden" name="userId" value="$!userId">
    <input type="hidden" name="scheduleName" value="$!scheduleName">     
   
  </form>
  <br> 
</div>
  
#parse("Footer.vm") 


