#parse("Banner.vm") 

<script type="text/javascript" src="js/add-datasource.js"></script>
<script type="text/javascript" src="js/add-report-file.js"></script>
<script type="text/javascript" src="js/add-chart.js"></script>
<script type="text/javascript" src="js/add-parameter.js"></script>

<script type="text/javascript">
  var editReportTabs = new YAHOO.widget.TabView("editReportTabs");  
</script>

<div align="center">
  
  <a class="back-link img-report-small" href="listReports.action">Back to Reports </a>
  
  <br/><br/>
  
  <div id="editReportTabs" class="yui-navset" style="width: 675px;">
    <ul class="yui-nav">
        <li #if ($selectedTab ==1) class="selected" #end><a href="#tab1"><em>Report Definition</em></a></li>
        #if ($command != "add")
        <li #if ($selectedTab ==2) class="selected" #end><a href="#tab2"><em>Report Parameters</em></a></li>
        #end
        #if ($command != "add" && $report.jasperReport)
        <li #if ($selectedTab ==3) class="selected" #end><a href="#tab3"><em>JasperReport Export Options</em></a></li>
        #end
    </ul>            
    <div class="yui-content">
      
      <div>     
      
      <br/>
      
      <form action="editReport.action" method="post">
      
      <table>    
        <tr class="a">
          <td class="boldText">Name</td>
          <td>
          	&nbsp;
          </td>
          <td><input type="text" size="60" name="name" value="$!name"></td>
        </tr>
        <tr class="b">
          <td class="boldText">Description</td>
          <td>
          	&nbsp;
          </td>
          <td><input type="text" size="60" name="description" value="$!description"></td>
        </tr>     
        <tr>
          <td class="boldText">Tags</td>
          <td>
            &nbsp;
          </td>
          <td><input type="text" size="60" name="tags" value="$!tags"></td>
        </tr>   
        <tr class="a">
          <td class="boldText" width="20%">DataSource</td>
          <td>
          	&nbsp;
          </td>
          <td>
            <select name="dataSourceId" id="datasourceSelect">
              <option value="-1" SELECTED>(none)</option>
              #foreach ($dataSource in $dataSources)
              <option value="$dataSource.id" #if ($dataSource.id == $dataSourceId) SELECTED #end >$dataSource.name</option>
              #end
            </select> 		   
            <input type="button" id="showAddDataSource" value="Add DataSource">    
          </td>
        </tr>       
        <tr>
          <td class="boldText">Query</td>
          <td>
          	<img  id="query" src="images/help.gif" title="#parse("tooltips/report-query.html")">      	
          </td>
          <td>  	   
            <textarea rows="5" cols="70" name="query">$!query</textarea>
          </td>
        </tr>     
        <tr class="a">
          <td class="boldText" width="20%">Chart</td>
          <td>
          	<img  id="chart" src="images/help.gif" title="#parse("tooltips/report-chart.html")">      	
          </td>
          <td>
            <select name="reportChartId" id="chartSelect">
              <option value="-1" SELECTED>(none)</option>
              #foreach ($reportChart in $reportCharts)
              <option value="$reportChart.id" #if ($reportChart.id == $reportChartId) SELECTED #end >$reportChart.name</option>
              #end
            </select>
            <input type="button" id="showAddChart" value="Add Chart">
          </td>
        </tr>       
        <tr class="b">
          <td class="boldText">Report File</td>
          <td>
          	<img  id="file" src="images/help.gif" title="#parse("tooltips/report-file.html")">      	              
          </td>
          <td>
            <select name="file" id="fileSelect">
              <option value="-1" SELECTED>(none)</option>
              #foreach ($fileName in $reportFileNames)
              <option value="$fileName" #if ($fileName == $file) SELECTED #end >$fileName</option>
              #end
            </select>
            <input type="button" id="showAddReportFile" value="Add Report File">
          </td>
        </tr>  
        <tr>
          <td class="boldText">Hide Report</td>
          <td>
          	<img  id="hidden" src="images/help.gif" title="#parse("tooltips/report-hidden.html")">      	
          </td>
          <td>  
          	<input type="checkbox" name="hidden" value="true" #if ($hidden == true) CHECKED #end>   	   
          </td>
        </tr>    
        <tr>
          <td class="boldText">Use Virtualization</td>
          <td>
          	<img  id="virtual" src="images/help.gif" title="#parse("tooltips/report-virtualization.html")">      	
          </td>
          <td><input type="checkbox" name="virtual" value="true" #if ($virtual == true) CHECKED #end></td>
        </tr> 
        <tr class="b">
          <td class="boldText">Export Types</td>
          <td>
          	<img  id="export" src="images/help.gif" title="#parse("tooltips/report-export.html")">      	
          </td>
          <td>
            <input type="checkbox" name="pdfExportEnabled" value="true" #if ($pdfExportEnabled == true) CHECKED #end> PDF 
            <input type="checkbox" name="htmlExportEnabled" value="true" #if ($htmlExportEnabled == true) CHECKED #end> HTML
            <input type="checkbox" name="csvExportEnabled" value="true" #if ($csvExportEnabled == true) CHECKED #end> CSV 
            <input type="checkbox" name="xlsExportEnabled" value="true" #if ($xlsExportEnabled == true) CHECKED #end> XLS <br>
            <input type="checkbox" name="rtfExportEnabled" value="true" #if ($rtfExportEnabled == true) CHECKED #end> RTF
            <input type="checkbox" name="textExportEnabled" value="true" #if ($textExportEnabled == true) CHECKED #end> TEXT 
            <input type="checkbox" name="excelExportEnabled" value="true" #if ($excelExportEnabled == true) CHECKED #end> EXCEL 
          </td>
        </tr>             
        <tr>
          <td align="center" class="dialogButtons" colspan="4">
          	<input class="standardButton" type="submit" name="submitOk" value="Save">   
          	<input class="standardButton" type="submit" name="submitDuplicate" value="Duplicate">  
          </td>
        </tr> 
        </table>
        
        <input type="hidden" name="id" value="$!id">
        <input type="hidden" name="command" value="$!command">
        <input type="hidden" name="selectedTab" value="1">
        
        </form>
    
        </div>
        
        #if ($command != "add")
        <div>
        
        <table class="dialog">
        <tr>
          <th colspan="2">Report Parameter</th>
          <th>Required</th>     
          <th>Step</th>
          <th>Sort Order</th>
          <th colspan="2">&nbsp;</th>
        </tr>      
        #foreach ($parameterInReport in $parametersInReport)
        <form action="editReportParameterMap.action"  >
        <tr class="a">   	 
       	  <td colspan="2">
       	    $parameterInReport.reportParameter.name
       	  </td>       
       	  <td>
       	    <input type="checkbox" name="required" value="true" #if ($parameterInReport.required == true) CHECKED #end>   	   
       	  </td>       	      	  
       	  <td>
       	    <input type="text" size="2" name="step" value="$parameterInReport.step">   	    
       	  </td>  
       	  <td>
       	    <input type="text" size="2" name="sortOrder" value="$parameterInReport.sortOrder">   	    
       	  </td>  
       	  <td class="dialogButtons">
       	  	<input class="standardButton" type="submit" name="submitUpdate" value="Update">
       	  </td> 
       	  <td class="dialogButtons">
       	  	<input class="standardButton" type="submit" name="submitDelete" value="Delete">
       	  </td> 
        </tr>   
        <input type="hidden" name="id" value="$!id">
        <input type="hidden" name="command" value="$!command"> 
        <input type="hidden" name="reportParameterId" value="$parameterInReport.reportParameter.id"/>    
        <input type="hidden" name="selectedTab" value="2">
        </form>
        #end      
        <form action="editReportParameterMap.action"  >     
        <tr class="a">
          <td colspan="7"><hr></td>
        </tr>
        <tr>
          <td colspan="2">
            <select name="reportParameterId" id="parameterSelect">           
              #foreach ($reportParameter in $reportParameters)
                <option value="$reportParameter.id">$reportParameter.name
              #end
            </select>
          </td>       
          <td class="dialogButtons" >        
          	<input class="standardButton" type="submit" name="submitAdd" value="Add">            
          </td>             
        </tr>
        #if ($report.jasperReport || $report.birtReport)
        <tr class="a">
          <td colspan="7"><hr><br></td>
        </tr>
        <tr>        
          <td colspan="6">            
            <strong>Auto Add</strong> inspects the report design and adds all parameters that match the name
            of existing OpenReports parameters.
          </td>      
          <td colspan="1" class="dialogButtons" >           
            <input class="standardButton" type="submit" name="submitLoad" value="Auto Add">       
          </td>             
        </tr>
        <tr class="a">
          <td colspan="7"><hr></td>
        </tr>
        <tr>        
          <td colspan="6">
            <strong>Auto Create</strong> is the same as <strong>Auto Add</strong> except that it
            also creates new Text Parameters for all parameters where a match is not found.
          </td>      
          <td colspan="1" class="dialogButtons" >           
            <input class="standardButton" type="submit" name="submitLoadAndCreate" value="Auto Create">      
          </td>             
        </tr>
        #end
        <tr class="a">
          <td colspan="7"><hr></td>
        </tr>
        <tr>        
          <td colspan="6">
            <strong>Add New</strong> displays a popup dialog  for manually adding a new parameter to the list of available parameters.
          </td>      
          <td colspan="1" class="dialogButtons" >           
            <input type="button" id="showAddParameter" value="Add New">
          </td>             
        </tr>
        <input type="hidden" name="id" value="$!id"> 
      	<input type="hidden" name="command" value="$!command"> 
        <input type="hidden" name="selectedTab" value="2">
      	</form>    
        </table>
        
        </div>
        #end
        
        #if ($command != "add" && $report.jasperReport)
        <div>
        
        <form action="editExportOptions.action">	 
 
        <table class="dialog" >
      	<tr>	
      	  <th>
      	    Export Format
      	  </th>	
      	  <th colspan="2">
      	  	Export Option
      	  </th>	
      	  <th>
      	  	&nbsp;
      	  </th>	 
      	</tr>
      	<tr>
      	  <td align="center" class="label">XLS</td>
            <td class="label" nowrap colspan="2" >Remove Empty Space Between Rows</td>
            <td align="center" width="50px"><input type="checkbox" name="xlsRemoveEmptySpaceBetweenRows" value="true" #if ($report.reportExportOption.xlsRemoveEmptySpaceBetweenRows == true) CHECKED #end></td>
          </tr>   
          <tr>
      	  <td align="center" class="label">XLS</td>
            <td class="label" nowrap colspan="2" >White Page Background</td>
            <td align="center" width="50px"><input type="checkbox" name="xlsWhitePageBackground" value="true" #if ($report.reportExportOption.xlsWhitePageBackground == true) CHECKED #end></td>
          </tr>  
          <tr>
            <td align="center" class="label">XLS</td>
            <td class="label" nowrap colspan="2"  >One Page Per Sheet</td>
            <td align="center"><input type="checkbox" name="xlsOnePagePerSheet" value="true" #if ($report.reportExportOption.xlsOnePagePerSheet == true) CHECKED #end></td>
          </tr>        
          <tr>
            <td align="center" class="label">XLS</td>
            <td class="label" nowrap colspan="2"  >Detect Cell Type</td>
            <td align="center"><input type="checkbox" name="xlsAutoDetectCellType" value="true" #if ($report.reportExportOption.xlsAutoDetectCellType == true) CHECKED #end></td>
          </tr>  
          <tr>
      	  <td align="center" class="label">HTML</td>
            <td class="label" nowrap colspan="2" >Remove Empty Space Between Rows</td>
            <td align="center" width="50px"><input type="checkbox" name="htmlRemoveEmptySpaceBetweenRows" value="true" #if ($report.reportExportOption.htmlRemoveEmptySpaceBetweenRows == true) CHECKED #end></td>
          </tr>   
          <tr>
            <td align="center" class="label">HTML</td>
            <td class="label" nowrap colspan="2"  >White Page Background</td>
            <td align="center"><input type="checkbox" name="htmlWhitePageBackground" value="true" #if ($report.reportExportOption.htmlWhitePageBackground == true) CHECKED #end></td>
          </tr>    
          <tr>
      	  <td align="center" class="label">HTML</td>
            <td class="label" nowrap colspan="2" >Use Images To Align</td>
            <td align="center" width="50px"><input type="checkbox" name="htmlUsingImagesToAlign" value="true" #if ($report.reportExportOption.htmlUsingImagesToAlign == true) CHECKED #end></td>
          </tr>   
          <tr>
            <td align="center" class="label">HTML</td>
            <td class="label" nowrap colspan="2"  >Wrap Break Word</td>
            <td align="center"><input type="checkbox" name="htmlWrapBreakWord" value="true" #if ($report.reportExportOption.htmlWrapBreakWord == true) CHECKED #end></td>
          </tr>    
          <tr >
            <td colspan="4"><hr></td>
          </tr>  
          <tr>
            <td align="center" colspan="4" class="dialogButtons">
      		<input class="standardButton" type="submit" name="submitType" value="Save">		
      	  </td>
          </tr>    
         </table>
         <input type="hidden" name="id" value="$!id">
         <input type="hidden" name="command" value="$!command">    
         <input type="hidden" name="selectedTab" value="3">
        </form>  
   
        </div>
        #end
        
    </div>
   
            #parse("Errors.vm")
            <div id="response" class="error"></div>
          
</div>

#parse("AddDataSourceDialog.vm")		
#parse("AddReportFileDialog.vm")
#parse("AddChartDialog.vm")
#parse("AddParameterDialog.vm")
  
#parse("Footer.vm") 

<script type="text/javascript">
  var fileTooltip = new YAHOO.widget.Tooltip("fileTooltip", { context:"file" } );
  var queryTooltip = new YAHOO.widget.Tooltip("queryTooltip", { context:"query" } );
  var chartTooltip = new YAHOO.widget.Tooltip("chartTooltip", { context:"chart" } );
  var hiddenTooltip = new YAHOO.widget.Tooltip("hiddenTooltip", { context:"hidden" } );
  var virtualTooltip = new YAHOO.widget.Tooltip("virtualTooltip", { context:"virtual" } );
  var exportTooltip = new YAHOO.widget.Tooltip("exportTooltip", { context:"export" } );
</script>

