#parse("Banner.vm") 

<script type="text/javascript" src="js/add-datasource.js"></script>

<a class="back-link img-report-small" href="listCharts.action">Back to Charts </a>
 
<br/>   

<div align="center">

		  <div class="important img-chart" id="instructions" style="width: 80%;"http://localhost:8080/openreports/listCharts.action
Back to Charts >
		   #if ($command == "add")
		   	Add Chart
		   #end
		   #if ($command != "add")
		   	Selected Chart: $name
		   #end
		  </div>
	  
  <form action="editChart.action" name="chartForm" method="post" style="width: 85%;"> 
  
  <table class="dialog" >    
    <tr class="a">
      <td class="boldText" width="30%">Name</td>
      <td>
      	&nbsp;
      </td>
      <td><input type="text" size="60" name="name" value="$!name"></td>
    </tr>
    <tr class="b">
      <td class="boldText" width="30%">Description</td>
      <td>
      	&nbsp;
      </td>
      <td><input type="text" size="60" name="description" value="$!description"></td>
    </tr>    
    <tr class="a">
      <td class="boldText" width="30%">Chart Type</td>
      <td>
      	&nbsp;
      </td>
      <td>
        <select name="chartType" onchange="enableFields()">
          <option value="5" #if ($chartType == 5) SELECTED #end>Area</option>
          <option value="0" #if ($chartType == 0) SELECTED #end>Bar</option>          
          <option value="9" #if ($chartType == 9) SELECTED #end>Dial</option>
          <option value="1" #if ($chartType == 1) SELECTED #end>Pie</option>          
          <option value="4" #if ($chartType == 4) SELECTED #end>Ring</option>	          
		  <option value="8" #if ($chartType == 8) SELECTED #end>Stacked Bar</option>
		  <option value="10" #if ($chartType == 10) SELECTED #end>Thermometer</option>
		  <option value="3" #if ($chartType == 3) SELECTED #end>Time</option>		  
		  <option value="7" #if ($chartType == 7) SELECTED #end>Time Area</option>
		  <option value="2" #if ($chartType == 2) SELECTED #end>XY</option>
		  <option value="6" #if ($chartType == 6) SELECTED #end>XY Area</option>			 
        </select>
      </td>
    </tr>
    <tr class="b">
      <td class="boldText" width="30%">Width</td>
      <td>
      		&nbsp;        
      </td>
      <td><input type="text" size="60" name="width" value="$!width"></td>
    </tr>    
    <tr class="a">
      <td class="boldText" width="30%">Height</td>
      <td>
      		&nbsp;
      </td>
      <td><input type="text" size="60" name="height" value="$!height"></td>
    </tr>  
    <tr>
      <td class="boldText" width="30%">Show Title</td>
      <td>
      		&nbsp;
      </td>
      <td>  
      	<input type="checkbox" name="showTitle" value="true" #if ($showTitle == true) CHECKED #end>   	   
      </td>
    </tr>    
    <tr>
      <td class="boldText" width="30%">Show Legend</td>
      <td>
      		&nbsp;
      </td>
      <td>  
      	<input type="checkbox" name="showLegend" value="true" #if ($showLegend == true) CHECKED #end>   	   
      </td>
    </tr>      
    <tr>
      <td class="boldText" width="30%">Show Values</td>
      <td>
        <img  id="values" src="images/help.gif" title="#parse("tooltips/chart-values.html")">      	         
      </td>
      <td>  
      	<input type="checkbox" name="showValues" value="true" #if ($showValues == true) CHECKED #end>   	   
      </td>
    </tr>     
    <tr id="xLabel" class="b">
      <td class="boldText" width="30%">X Axis Label</td>
      <td>
      	<img  id="xlabel" src="images/help.gif" title="#parse("tooltips/chart-xlabel.html")">
      </td>
      <td><input type="text" size="60" name="xAxisLabel" value="$!xAxisLabel"></td>
    </tr>    
    <tr id="yLabel" class="a">
      <td class="boldText" width="30%">Y Axis Label</td>
      <td>
      	<img id="ylabel" src="images/help.gif" title="#parse("tooltips/chart-ylabel.html")">
      </td>
      <td><input type="text" size="60" name="yAxisLabel" value="$!yAxisLabel"></td>
    </tr>        
    <tr>
      <td class="boldText" width="30%">Plot Orientation</td>
      <td>
      	<img id="plotorientation" src="images/help.gif" title="#parse("tooltips/chart-plotorientation.html")">
      </td>
      <td>
      	<select name="orientation">
      		<option value="1" #if ($orientation == 1) SELECTED #end>Horizontal</option>
      		<option value="2" #if ($orientation == 2) SELECTED #end>Vertical</option>      	
      	</select>
      </td>
    </tr>      
    <tr class="b">
      <td class="boldText" >Query</td>
      <td>
      	<img id="query" src="images/help.gif" title="#parse("tooltips/chart-query.html")">
      </td>
      <td><textarea rows="5" cols="58" name="query">$!query</textarea></td>
    </tr>    
    <tr class="a">
      <td class="boldText" width="20%">DataSource</td>
      <td>
      	&nbsp;
      </td>
      <td>
        <select name="dataSourceId" id="datasourceSelect">
          <option value="-1" SELECTED>(none)</option>
          #foreach ($dataSource in $dataSources)
          <option value="$dataSource.id" #if ($dataSource.id == $dataSourceId) SELECTED #end >$dataSource.name</option>
          #end
        </select>
        <input type="button" id="showAddDataSource" value="Add DataSource">
      </td>
    </tr>       
    <tr class="a">
      <td class="boldText" width="20%">DrillDown Report</td>
      <td>
      	&nbsp;
      </td>
      <td>
        <select name="reportId">
          <option value="-1" SELECTED>(none)</option>
          #foreach ($report in $reports)
          <option value="$report.id" #if ($report.id == $reportId) SELECTED #end >$report.name</option>
          #end
        </select>
      </td>
    </tr>    
   </table>

  #parse("Errors.vm")
  <div id="response" class="error"></div>

  <div class="button-bar" id="buttons" >
        <input class="standardButton" type="submit" name="submitOk" value="Save">
        <input class="standardButton" type="submit" name="submitDuplicate" value="Duplicate">
        <input class="standardButton" type="submit" name="submitValidate" value="Validate">
  </div>
    
  <input type="hidden" name="id" value="$!id">
  <input type="hidden" name="command" value="$!command"></th>
  
  </form>
  <br>   
  #if ($chartValues)
  <table class="dialog" >
  	<tr>
  	  <th colspan="3">Chart Values</th>
  	</tr>
  	#if ($chartType == 0)
  	<tr>
  	  <th>Value</th>
  	  <th>Series</th>
  	  <th>Category</th>
  	</tr>
  	#foreach($chartValue in $chartValues)
  	<tr class="b">
  	  <td>$chartValue.value</td>
  	  <td>$chartValue.series</td>
  	  <td>$chartValue.Category</td>
  	</tr>
  	#end  
  	#end
  	#if ($chartType == 1)
  	<tr>
  	  <th>Value</th>
  	  <th>Key</th>  	 
  	</tr>
  	#foreach($chartValue in $chartValues)
  	<tr class="b">
  	  <td>$chartValue.value</td>
  	  <td>$chartValue.key</td>  	  
  	</tr>
  	#end  
  	#end
  	#if ($chartType == 2)
  	<tr>
  	  <th>Series</th>
  	  <th>Value 1</th>
  	  <th>Value 2</th>  	  
  	</tr>
  	#foreach($chartValue in $chartValues)
  	<tr class="b">
  	  <td>$chartValue.series</td>
  	  <td>$chartValue.value</td>
  	  <td>$chartValue.yValue</td>  	  
  	</tr>
  	#end  
  	#end
		#if ($chartType == 3)
  	<tr>
  	  <th>Series</th>
  	  <th>Value</th>
  	  <th>Time</th>  	  
  	</tr>
  	#foreach($chartValue in $chartValues)
  	<tr class="b">
  	  <td>$chartValue.series</td>
  	  <td>$chartValue.value</td>
  	  <td>$chartValue.time</td>  	  
  	</tr>
  	#end  
  	#end    	
  </table>
  #end
 
</div>

#parse("AddDataSourceDialog.vm")

#parse("Footer.vm") 

<script type="text/javascript">
  var valuesTooltip = new YAHOO.widget.Tooltip("valuesTooltip", { context:"values" } );
  var xlabelTooltip = new YAHOO.widget.Tooltip("xlabelTooltip", { context:"xlabel" } );
  var ylabelTooltip = new YAHOO.widget.Tooltip("ylabelTooltip", { context:"ylabel" } );
  var plotorientationTooltip = new YAHOO.widget.Tooltip("plotorientationTooltip", { context:"plotorientation" } );  
  var queryTooltip = new YAHOO.widget.Tooltip("queryTooltip", { context:"query" } );
</script>

