#if ($actionErrors && !$actionErrors.isEmpty())

<table align="center">
  <tr>
    <td>         
    	  #foreach ($actionError in $actionErrors)   		
				<div class="error" id="error">$actionError</div>		
          #end          
    </td>      
  </tr>
</table>

#end



