<script language="JavaScript" src="js/date-picker.js"></script>

#parse("Banner.vm") 

<div align="center">

  <a class="back-link img-report-small" href="reportList.action">Back to Reports</a>
  <a class="back-link img-group-small" href="reportGroup.action">Back to Groups</a>
  	
  <br/><br/>
  
   <div class="img-schedule important" id="instructions" style="width: 70%;">
		Schedule Options for: $report.name
   </div>
		 
  <form action="$request.requestURI" name="scheduleDetail"  style="width: 75%;">   
  
  <table class="dialog" >         
    <tr>
      <td class="boldText">Description</td>         
      <td colspan="6">      
        <input type="text" name="description" value="$!description" size="80">
      </td>
    </tr>
    <tr>
      <td class="boldText">Schedule Type</td>         
      <td>
        <input type="radio" name="scheduleType" value="0" CHECKED>Once
      </td>
      <td>
			<input type="radio" name="scheduleType" value="5" #if ($scheduleType == 5) CHECKED #end>Hourly
	  </td>
      <td>
        <input type="radio" name="scheduleType" value="1" #if ($scheduleType == 1) CHECKED #end>Daily
      </td>
      <td>
        <input type="radio" name="scheduleType" value="4" #if ($scheduleType == 4) CHECKED #end>Weekdays
      </td>     
    </tr>  
    <tr>
      <td class="boldText">&nbsp;</td> 
      <td>
        <input type="radio" name="scheduleType" value="2" #if ($scheduleType == 2) CHECKED #end>Weekly
      </td>     
	  <td>
        <input type="radio" name="scheduleType" value="3" #if ($scheduleType == 3) CHECKED #end>Monthly
      </td>  
      #if ($user.advancedScheduler)
      <td><input type="radio" name="scheduleType" value="6" #if ($scheduleType == 6) CHECKED #end>Cron Schedule</td>
      #end
   	</tr>        
    <tr>
      <td class="boldText">Start Date</td>         
      <td colspan="2">
        <input type="text" name="startDate" value="$!startDate" length="50">
        <a href="javascript:show_calendar('scheduleDetail.startDate','','','$dateFormat');"
           onmouseover="window.status='Date Picker';return true;"
           onmouseout="window.status='';return true;"><img border="none" src="images/icon_calendar.gif"/></a>
      </td>
      #if ($user.advancedScheduler)
       <td class="boldText">Cron Expression <font color="red">*</font></td>         
      <td colspan="2">
        <input type="text" name="cron" value="$!cron" size="20" maxLength="20" />      
        </td>    
       #end      
    </tr>    
    <tr>
     <td class="boldText">Start Time</td>         
      <td colspan="2">
        <input type="text" name="startHour" value="$!startHour" size="2" maxLength="2" /> :   
        <input type="text" name="startMinute" value="$!startMinute" size="2" maxLength="2" />      
        <select name="startAmPm" value="$startAmPm">
          <option value="AM">AM</option>
          <option value="PM" #if ($startAmPm == "PM") SELECTED #end >PM</option>
        </select>
      </td>  
       <td class="boldText"># of Hours <font color="red">*</font></td>         
      <td colspan="2">
     	 <input type="text" name="hours" value="$!hours" size="20" maxLength="20" />    
      </td>      	
    </tr>   
    #if ($user.alertUser)
    <tr>
      <td class="boldText" width="20%">Condition</td>
      <td colspan="6">
        <select name="alertId">
          <option value="-1" SELECTED>(none)</option>
          #foreach ($alert in $alerts)
          <option value="$alert.id" #if ($alert.id == $alertId) SELECTED #end >$alert.description</option>
          #end
        </select>
        <select name="alertOperator">         
          #foreach ($operator in $operators)
          <option value="$operator" #if ($operator == $alertOperator) SELECTED #end >$operator &nbsp;</option>
          #end
        </select>          
        <input type="text" name="alertLimit" value="$!alertLimit" size="10" maxLength="10" />      
      </td>
    </tr>   
    #end 
    #if (!$user.alertUser)
    	<input type="hidden" name="alertId" value="-1">
    #end
     <tr>
      <td class="boldText">Recipients</td>         
      <td colspan="6">      
        <textarea rows="2" cols="60" name="recipients">$!recipients</textarea>
      </td>
    </tr>      
  </table>
  
  #parse("Errors.vm")
  
  <br>
  
 
		  <div class="button-bar" id="buttons" >
		  	    <input type="hidden" name="scheduleName" value="$!scheduleName">
   			    <input type="hidden" name="userId" value="$!userId">
		        <input type="submit" class="standardButton" name="submitScheduledReport" value="Schedule">
		  </div>
 
  
  </form>    
   
   <div class="importantSmall"> 
   		* # of Hours only applies to Hourly scheduled Reports<br>
   		#if ($user.advancedScheduler)
   		* Cron Expression only applies to Cron scheduled Reports
   		#end
   </div>    
  
</div>

#parse("Footer.vm") 

