#parse("Banner.vm") 

#parse("Errors.vm")

<br/>

<div align="center">

  <div class="img-upload important" id="instructions" style="width:75%;">Upload Report File</div></td>
  
  <form action=reportUpload.action method="POST" enctype="multipart/form-data" style="width:80%;">
  
  <br/>  
  
  <table>
    <tr colspan="2">      
      <td>
        <input type="file" name="file" value="Browse..." size="50"/>&nbsp;
        <input type="submit" class="standardButton" value="Upload">
      </td>
    </tr>   
  </table> 
  <input type="hidden" name="command" value="upload">
  <input type="hidden" name="name" value="$name">
  
  <br/>
  
  </form>  
  
  
  <div class="img-report important" id="files" style="width:75%;">Current Report Files</div></td>
   
  
  <br>
  
  <table > 
    <tr class="even">
      #set( $counter = 0)
      #set( $index = 1)
      #foreach ($reportFileName in $reportFileNames)
      	<td ><strong>$index.</strong> $reportFileName</td>
      	#set( $counter = $counter + 1)
      	#set( $index = $index + 1)
      	#if ($counter == 2)
      		</tr>
      		<tr class="odd">
      		#set( $counter = 0)
      	#end
      #end      
    </tr>       
  </table>
</div>
<br>
		
#parse("Footer.vm") 




