html {	
	text-align: center;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;	
	text-align: center;		
}

a {			
	font-size: 14px;
	font-weight: bold;	
	text-decoration: none;
	color:black;		
}

a:hover {		
	border-bottom: 2px solid;	
}
	
.dialog-form {		
	margin:0;	
	background-color: #edf5ff;
	border: 1px solid;
}

ul {
	list-style: none;
}

.logo{
	color: white;
	font-size: 18px;
	font-weight: bold;	
	padding-left: 8px;
	padding-top: 8px;	
	letter-spacing: 1px;
}

.menu {		
	height: 38px;
	background: url(../images/menu-gradient.jpg) 0 0 repeat-x;	 
	border-bottom: 2px solid;		
	border-top: 1px solid;	
}

.important {
	font-size:20px;
	letter-spacing:1px;			
	text-align: left;
	padding: 6px;
	padding-left: 40px;
	width: 90%;
	color: #314457;
}

.warning {
	font-size:16px;
	letter-spacing:1px;
	border-bottom: 1px solid #999;			
	text-align: left;
	padding: 6px;
	padding-left: 40px;
	width: 90%;
	color: red;	
	background:url(../images/warning.gif) no-repeat 3px 0px;
}

.error {
	color: red;	
}

.boldText {
	font-size: 12px;
	font-weight: bold;
}

.button-bar {
	padding: 4px;
	border-top: 1px solid #999;			
	text-align: center;	
	width: 93%;
}

a.back-link {
	margin-top: 5px;	
	margin-right: 5px;
	padding-bottom: 5px;
	padding-left: 20px;		
	float: right;			
	font-size: 12px;	
	color: #336691;
}

.titlePane {	
	background : #FFFFCC url(../images/main-gradient.jpg) 0 0 repeat-x;	
	font-weight: bold;		
	vertical-align: bottom;
	border: solid 1px #000666;	
	width: 98%;		
	height: 22px;
}

.content {
	width: 98%;
	/* styling css */
	border: 1px solid;
	border-color: ThreeDShadow ThreeDShadow ThreeDShadow ThreeDShadow;	
}

.highlight {
	background-color: #badfff;
	border-bottom: 1px solid;		
}

.hidden {
	font-size: 0;
	color: white;
}

table{	
	margin: 10px;
		
}
table td{	
	padding: 3px;	
}

table.displaytag {
	border: none;
	border-collapse: collapse;
	text-align: left;	
	width: 95%;
	border-top: 1px solid black;
}
table.displaytag thead tr {
	background-color: #ececec;
	background: #FFFFCC url(../images/table-gradient.jpg) 0 0 repeat-x;
	font-weight: bold;
	height: 28px;
	border-bottom: 1px solid;	
}

table.displaytag tr.even {
	background-color: white;	
	border-bottom: 1px solid;	
}

table.displaytag tr.triggered {	
	
	color: white;
	background: #fff url(../images/red-gradient.gif) 0 0 repeat-x;
}

table.displaytag tr.triggered a {			
	color: white;		
}

table.displaytag tr.odd {
	background-color: white;
	border-bottom: 1px solid;	
}
table.displaytag td {
	border: none;
	padding: 4px;	
	font-size: 10pt;
	border-bottom: 1px solid black;
}

table.displaytag a {		
	font-size: 10pt;
}

table.displaytag th {
	padding-left: 5px;
	padding-right: 15px;
	font-size: 10pt;
	border-bottom: 1px solid black;
}

table.displaytag th.sorted a,table.displaytag th.sortable th.sortable-right a {
	background-repeat: no-repeat;
	background-position: right;
	display: block;
	width: 100%;
}

table.displaytag th.sortable-right {
	text-align: right;
}

table.displaytag th.order1 a {
	background-image: url(../images/down-arrow.png);
}

table.displaytag th.order2 a {
	background-image: url(../images/up-arrow.png);
}

.checklist {
    border: 1px solid #ccc;
    list-style: none;    
    overflow: auto;   
    background-color: white;
}

.checklist, .checklist li {
	margin: 0; 
	padding: 0; 
}

.vert {
	list-style: none;
	margin: 0;
	padding: 0;
}

.vert li {
	float: left;
}

#usermenu ul {
	margin: 5px;
}

#usermenu li {
	float: right;
	white-space: nowrap;	
}

table.adminMenu th
{
	text-align: center;	
	font-weight: bold;
	font-size: 18px;
	padding: 5px;
}

table.adminMenu td
{
	padding-left: 40px;
}

.alert-form {
	background-color: white;
	border: 0; 	
}

.img-report {
	background:url(../images/reports.gif) no-repeat 3px 3px;	
}

.img-report-small {
	background:url(../images/report.gif) no-repeat 0px 0px;	
}

.img-param {
	background:url(../images/parameters.gif) no-repeat 3px 3px;
}

.img-group {
	background:url(../images/groups.gif) no-repeat 3px 3px;
}

.img-group-small {
	background:  url(../images/groups-small.gif) 0 0 no-repeat;	
}

.img-user {
	background:url(../images/user.gif) no-repeat 3px 3px;
}

.img-log {
	background:url(../images/log.gif) no-repeat 3px 3px;
}

.img-ds {
	background:url(../images/ds.gif) no-repeat 3px 3px;
}

.img-settings {
	background:url(../images/settings.gif) no-repeat 3px 3px;
}

.img-chart {
	background:url(../images/chart.gif) no-repeat 3px 3px;
}

.img-schedule {
	background:url(../images/schedule.gif) no-repeat 3px 3px;
}

.img-export {
	background:url(../images/export.gif) no-repeat 3px 3px;
}

.img-delete {
	background:url(../images/warning.gif) no-repeat 3px 3px;
}

.img-upload {
	background:url(../images/upload_big.gif) no-repeat 3px 3px;
}

.img-queryreport {
	background:url(../images/queryreport.gif) no-repeat 3px 3px;
}

.img-stats {
	background:url(../images/stats.gif) no-repeat 3px 3px;
}

.img-alert {
	background:url(../images/alert.gif) no-repeat 3px 3px;
}

.img-reload {
	background:url(../images/reload.gif) no-repeat 0px 0px;
}
